.footer-container {
  text-align: center;
  font-size: 0.9rem;
}

.footer-container a {
  color: #1e1e1e;
  text-decoration: none;
  margin: 0 8px;
}

.modo-oscuro .footer-container a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 8px;
}

.footer-container a:hover {
  text-decoration: underline;
}