/*NavBar*/

.nav-item :hover {
  border-bottom: 1px solid #27818d;
  background-color: #cbdee0;
}

.modo-oscuro .nav-item:hover .nav-link {
  border-bottom: 1px solid #0e2f33;
  color: #1e1e1e !important
}

/*Boton dark mode*/
.modo-claro {
  background-color: #ffffff;
  color: #1e1e1e;
}

.modo-claro .card {
  background-color: #ffffff;
  color: #1e1e1e;
}

.modo-oscuro {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.modo-oscuro .card {
  background-color: #2a2a2a;
  border: 1px solid #444;
  color: #ffffff;
}

.modo-oscuro .navbar {
  background-color: #1e1e1e !important;
}

.modo-oscuro {
  background-color: #1e1e1e;
  color: white;
}

.modo-oscuro .navbar,
.modo-oscuro .navbar a,
.modo-oscuro .navbar-brand,
.modo-oscuro .nav-link {
  color: white !important;
}

/*Para el boton hamburguesa*/
.modo-oscuro .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.modo-oscuro .navbar-toggler {
  border-color: white;
}